@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 33, 33, 45;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  @apply h-full;
}
html {
  @apply h-full;
}
div#__next {
  @apply h-full;
}
main {
  @apply h-full;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
